.support-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  //   background-color: #f8f5f5;
  min-height: 100vh;

  .support-container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;

    .support-title {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333;
    }

    .support-subtitle {
      font-size: 14px;
      color: #666;
      margin-bottom: 30px;
    }

    .support-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 14px;
          color: #444;
          margin-bottom: 6px;
        }

        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 6px;
          font-size: 14px;
          outline: none;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: #c97373;
          }
        }

        textarea {
          resize: none;
        }
      }

      .support-btn {
        background-color: #c97373;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #a55b5b;
        }
      }
    }
  }
}
