/* * {
  margin: 0;
  padding: 0;
  height: 70%;
} */
.productdetail-component {
  background-color: cadetblue;
  min-height: 100vh;
}
.product-detail-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
.detail-left {
  background-color: red;
}
